.home {
  .logo {
    img {
      max-height: 1500px;
      max-width: 150px;
    }
  }

  .info-section {
    padding: 56px;
    width: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    .info-box {
      position: absolute;
      bottom: 60px;

      h4 {
        font-size: 1.2rem;
        color: $color3;
        margin: 0.7em 0;
      }

      p {
        font-size: 0.9rem;
        font-weight: 300;
        color: $color3;
        margin: 0.2em 0 0.8em;
      }
    }
    .icon-section {
      a {
        color: white;
        text-decoration: none;
        font-size: 1.7rem;
        padding-right: 1rem;
      }
    }
  }

  .content-area {
    margin-left: 35%;
    background: white;
    width: 65%;
    padding: 0 0 0 25%;
    height: 100vh;

    .img-container {
      display: inline-block;
      width: 25%;
      position: relative;
      height: 100%;

      .user-img {
        position: absolute;
        top: 56px;
        left: -450px;
        width: 400px;
        height: calc(100% - 112px);
        background: url('../img/IMG_0382.JPG') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    }

    .profile-section {
      display: inline-block;
      vertical-align: top;
      padding: 18% 0 0;
      max-width: 350px;

      .profile {
        h1 {
          font-size: 2.3rem;
          font-weight: 500;
          line-height: 1.1;
          margin-bottom: 1rem;

          span {
            color: $color1;
          }
        }

        h5 {
          font-size: 1.1rem;
          margin: 0 0 1.6rem;
        }

        p {
          color: $color4;
          font-weight: 400;
          line-height: 1.4;
          margin-bottom: 1.8rem;
        }
      }
    }
  }
}
