.work {
  .info-section {
    width: 20%;
  }

  .content-area {
    margin-left: 20%;
    background: $color3;
    width: 80%;
    height: 100vh;
    min-width: 300px;
    overflow: hidden;

    .work-section {
      margin-bottom: 56px;

      h1 {
        font-weight: 700;
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 56px;
        letter-spacing: 2.5px;
      }

      .project-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 56px;
        grid-row-gap: 30px;
        max-width: 1200px;

        .project-box {
          padding: 30px;
          transition: all 0.3s ease-in-out;
          cursor: pointer;

          &:hover {
            -webkit-box-shadow: 0 20px 74px 6px rgba(0, 0, 0, 0.12);
            -moz-box-shadow: 0 20px 74px 6px rgba(0, 0, 0, 0.12);
            box-shadow: 0 20px 74px 6px rgba(0, 0, 0, 0.12);
          }

          img {
            max-width: 100%;
          }

          h5 {
            font-weight: 500;
            font-size: 1.3rem;
            margin-bottom: 1.4rem;
          }

          p {
            font-weight: 300;
            font-size: 1rem;
            margin: 1rem 0;
          }
        }
      }
    }
  }
}
